@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  /* zinc-300 */
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
  /* zinc-700 */
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
  /* zinc-400 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  /* zinc-600 */
}